* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-wrapper {
  height: 100%;
  width: 100%;
}
.about-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
}
.about-nav {
  width: 100%;
}
.about-nav-list {
  height: 60px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about-nav-list li {
  list-style: none;
  font-size: 20px;
}
.about-nav-list a {
  text-decoration: none;
  color: rgb(101, 158, 101);
  text-transform: uppercase;
}
.about-nav-list li a:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.current {
  background-color: rgb(178, 216, 185);
  border-radius: 5px;
  padding: 4px 14px;
}
.about-imaage-text-conatiner {
  width: 100%;
  height: 800px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}
.aboutImage {
  width: 48%;
  background-color: wheat;
  border-radius: 2%;
  background-image: url('../images/about.jpeg');
  background-position: center;
  position: relative;
  animation-name: about-Img;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes about-Img {
  0% {
    top: -200px;
  }
  100% {
    top: 0px;
  }
}

.aboutText {
  width: 48%;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  background-image: url('../images/about.jpeg');
  box-sizing: border-box;
  position: relative;
  animation-name: about-text;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes about-text {
  0% {
    bottom: -400px;
  }
  100% {
    bottom: 0px;
  }
}

.showList {
  display: block !important;
}

@media (max-width: 953px) {
  .about-nav-list {
    height: 126px;
    width: 100%;
    display: none;
    background-color: white;
    text-align: center;
    transition: 1000ms;
    transform: translateX(600px);
    pointer-events: none;
  }
  .about-nav-list li a {
    font-size: 13px;
    padding: 4px;
    color: black;
  }
  .aboutMenu .about-nav-list {
    transition: 1000ms;
    /* background-color: lightgray; */
    transform: translateX(0px);
    pointer-events: all;
  }

  .about-burger-icon {
    height: 41px;
    width: 68px;
    /* border: 2px solid black; */
    position: absolute;
    top: 2%;
    left: 82%;
    border-radius: 5px;
    cursor: pointer;
    transition: 10ms ease-in-out;
  }
  .line {
    width: 45px;
    height: 4px;
    background-color: rgb(2, 2, 2);
    /* margin:5px 2px; */
    transition: 50ms ease-in-out;
  }
  .aLine1 {
    transform: translate(12px, 10px);
  }
  .aLine2 {
    transform: translate(12px, 15px);
  }
  .aLine3 {
    transform: translate(12px, 21px);
    /* transform:translateY(4px) */
  }
  .btnClassAbout .aLine2 {
    background-color: transparent;
  }
  .btnClassAbout .aLine1 {
    transform: rotate(-45deg) translate(-1px, 22px);
  }
  .btnClassAbout .aLine3 {
    transform: rotate(45deg) translate(19px, -3px);
  }
  .aboutText {
    width: 100%;
  }

  .aboutImage {
    display: none;
  }
}



.about-text-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.9;
}

.au-heading {
  font-size: 35px;
  color: rgb(101, 158, 101);
  text-align: center;
  padding-top: 50px;
}
.au-paragraph {
  color: rgb(0, 0, 0);
  background-color: rgb(250, 250, 250);
  padding-top: 40px;
  margin: 15px;
  font-size: 20px;
}
@media (max-width: 650px) {
  .au-paragraph {
    font-size: 13px;
  }
}
.about-footer {
  height: 70px;
  text-align: center;
  margin-top: 40px;
}
.about-footer-copyright {
  text-align: center;
}
#footer-icon a {
  text-decoration: none;
  color: black;
}
