* {
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}
.contact-wrapper {
  height: 100%;
  width: 100%;
  /* background-color: rgb(119, 18, 18); */
}

.contact-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
}
.contact-nav {
  width: 100%;
  /* background-color: rgb(202, 202, 9); */
}
.contact-nav-list {
  height: 60px;
  /* width: 100%; */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-nav-list li {
  list-style: none;
  font-size: 20px;
}
.contact-nav-list a {
  text-decoration: none;
  color: rgb(101, 158, 101);
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.contact-nav-list li a:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.current {
  background-color: rgb(178, 216, 185);
  border-radius: 5px;
  padding: 4px 14px;
}
.contact-information-container {
  /* height: 950px; */
  width: 100%;
  /* background-color: grey; */
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-image-address-container {
  width: 100%;
  height: 845px;
  max-width: 500px;
  /* background-color: khaki; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 16px;
}
.contact-image-container {
  height: 680px;
  width: 100%;
  /* background-color: lightpink; */
  background-image: url("../images/contactImage.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 8px;
  animation-name: contact-Img;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes contact-Img {
  0% {
    top: -300px;
  }
  100% {
    top: 0px;
  }
}
.contact-address-container {
  height: 120px;
  width: 100%;
  background-color: rgb(54 54 54 / 65%);
  text-align: center;
  font-size: 17px;
  border-radius: 8px;
  padding-top: 12px;
  color: white;
  position: relative;
  animation-name: contact-address;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes contact-address {
  0% {
    bottom: -400px;
  }
  100% {
    bottom: 0px;
  }
}
#email-address a {
  /* color: rgb(68, 99, 68); */
  color: white;
  font-style: italic;
  text-decoration: none;
  font-weight: 500;
}
#email-address a:hover {
  color: black;
}
.contact-form-container {
  width: 100%;
  /* background-color:rgb(68, 99, 68); */
  display: flex;
  position: relative;
  max-width: 500px;
  margin-left: 16px;
  animation-name: form-container;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes form-container {
  0% {
    right: -900px;
  }
  100% {
    right: 0px;
  }
}
.contact-form {
  width: 100%;
  /* height: 845px; */
  border-radius: 8px;
  background-color: rgb(54 54 54 / 65%);
}
.contact-form h3 {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  margin-top: 40px;
}

.formContactUs {
  /* background-color: thistle; */
  /* height: 700px; */
  width: 100%;
  margin-top: 2rem;
}
input {
  height: 29px;
  width: 85%;
  margin: 21px 0px;
  font-size: 15px;
  padding: 5px;
  border-radius: 2px;
  border: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
textarea {
  resize: vertical;
  margin: 21px 0px;
  font-size: 15px;
  color: black;
  width: 85%;
  height: 199px;
  padding: 5px;
  border-radius: 2px;
  border: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.contact-form button {
  height: 34px;
  width: 111px;
  color: white;
  font-size: 14px;
  background-color: black;
  border-radius: 11px;
  border: none;
  margin: 16px 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.contact-footer {
  height: 70px;
  width: 100%;
  /* margin: 0px auto; */
  margin-bottom: 5rem !important;
  text-align: center;
  /* background-color: turquoise; */
  position: relative;
  animation-name: footer-animation;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}
@keyframes footer-animation {
  0% {
    bottom: -400px;
  }
  100% {
    bottom: 0px;
  }
}

#contact-footer-icon a {
  text-decoration: none;
  color: black;
}
.contact-footer-copyright {
  margin-top: 35px;
  margin-bottom: 8rem !important;
}

@media (max-width: 1024px) {
  .contact-burger-icon {
    height: 41px;
    width: 63px;
    position: absolute;
    top: 10px;
    right: -12%;
    border-radius: 5px;
    cursor: pointer;
    transition: 10ms ease-in-out;
  }

  .contact-wrapper {
    overflow: hidden;
  }
  .contact-nav {
    width: 100%;
    position: relative;
    top: 0px;
  }
  .contact-nav-list {
    height: 166px;
    width: 50%;
    position: absolute;
    border-radius: 6px;
    top: 57px;
    right: -10%;
    z-index: 1;
    display: block;
    background-color: #eee;
    box-shadow: 5px 5px 8px 0px grey;
    text-align: center;
    transition: 1000ms;
    transform: translateX(600px);
    pointer-events: none;
  }
  .contact-nav-list li {
    list-style: none;
    height: 33px;
    width: 100%;
  }
  .contact-nav-list li a {
    font-size: 15px;
    padding: 4px;
    color: rgb(0, 0, 0);
  }
  .contact-nav-list li a:hover {
    color: rgb(173, 99, 70);
    cursor: pointer;
  }
  .current {
    background-color: rgb(173 216 173);
  }
  .contactMenu .contact-nav-list {
    opacity: 1;
    transition: 580ms;
    /* background-color: lightgray; */
    transform: translateX(0px);
    pointer-events: all;
  }
  /* .contact-burger-icon {
    height: 41px;
    width: 63px; */
  /* border: 2px solid black; */
  /* position: absolute;
    top: 0px;
    right: -80px;
    border-radius: 5px;
    cursor: pointer;
    transition: 10ms ease-in-out;
  } */
  .line {
    width: 35px;
    height: 4px;
    background-color: rgb(2, 2, 2);
    /* margin:5px 2px; */
    transition: 50ms ease-in-out;
  }
  .cLine1 {
    transform: translate(12px, 10px);
  }
  .cLine2 {
    transform: translate(12px, 15px);
  }
  .cLine3 {
    transform: translate(12px, 21px);
    /* transform:translateY(4px) */
  }
  .btnClassContact .cLine2 {
    background-color: transparent;
  }
  .btnClassContact .cLine1 {
    transform: rotate(-45deg) translate(-2px, 23px);
  }
  .btnClassContact .cLine3 {
    transform: rotate(45deg) translate(18px, -4px);
  }

  .contact-form {
    /* width: calc(100vw - 2rem); */
    max-width: 590px;
    height: 800px;
    background-image: url("../images/contactImage.jpeg");
    background-position: center;
    background-size: cover;
    /* position: absolute;
    top: -2%;
    left: 1%; */
  }
  .contact-image-address-container {
    display: none;
  }
  .contact-information-container {
    /* height: 840px; */
    margin-top: 4rem;
  }
  input {
    height: 34px;
    width: 85%;
    margin: 20px 0px;
    font-size: 18px;
    padding: 4px;
    border-radius: 2px;
  }
  textarea {
    width: 85%;
    margin: 20px 0px;
    font-size: 18px;
    padding: 4px;
    border-radius: 2px;
  }
  .contact-form h3 {
    margin-top: 20px;
  }
  .contact-form button {
    margin: 0px;
  }
  .contact-footer {
    margin-top: 2rem;
  }
}

@media (max-width: 550px) {
  .contact-nav-list {
    height: 166px;
    width: 100%;
    position: absolute;
    border-radius: 6px;
    top: 44px;
    right: -4%;
    box-shadow: 5px 5px 8px 0px grey;
    z-index: 1;
    display: block;
    background-color: #eee;
    transition: 1000ms;
    transform: translateY(-260px);
    pointer-events: none;
  }
  .contact-nav-list li {
    list-style: none;
    /* font-size: 34px; */
    height: 33px;
    width: 100%;
  }
  .contact-nav-list li a {
    font-size: 13px;
    color: rgb(0, 0, 0);
  }
  .contactMenu .contact-nav-list {
    transition: 1000ms;
    /* background-color: lightgray; */
    transform: translateY(10px);
    pointer-events: all;
  }
  .contact-burger-icon {
    position: absolute;
    top: 10px;
    right: -13%;
  }
  .contact-information-container {
    /* height: 650px; */
    width: 100%;
    margin: 3rem 0px;
  }
  .contact-form-container {
    width: 100%;
    margin-left: 0px;
    /* height: 400px; */
  }
  .contact-form {
    width: 100%;
    height: auto;
    /* height: 529px; */
    /* position: absolute;
    top: -2%;
    left: -8%; */
    background: transparent;
  }
  .contact-form h3 {
    margin-top: 15px;
    font-size: 24px;
    color: rgb(120 169 129 / 98%);
  }
  input {
    height: 25px;
    width: 100%;
    margin: 9px 0px;
    font-size: 14px;
    background-color: #b6bbbd80;
  }
  textarea {
    height: 110px;
    width: 100%;
    margin: 9px 0px;
    font-size: 14px;
    background-color: #b6bbbd80;
  }
  .contact-image-address-container {
    display: none;
  }
  .contact-footer {
    height: auto;
    margin-top: -2rem;
    font-size: 9px;
  }
}
