*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.about-wrapper{
    height:100%;
    width: 100%;
    /* background-color: rgb(119, 18, 18); */
}

.contact-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: rgb(255, 255, 255);
    margin:auto;

}
.contact-nav{
    width: 100%;
     /* background-color: rgb(202, 202, 9); */
} 
.contact-nav-list{
    height: 60px;
    /* width: 100%; */
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.contact-nav-list li{
    list-style: none;
    font-size: 20px;
 }
.contact-nav-list a{
    text-decoration: none;
    color: rgb(101, 158, 101);
    text-transform: uppercase;
}
.contact-nav-list li a:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.current{
    background-color:  rgb(178, 216, 185);
    border-radius: 5px;
    padding: 4px 14px;
}
.contact-information-container{
height: 950px;
width: 85%;
margin: auto;
 /* background-color: grey; */
 display: flex;
 flex-direction: row;
}


.contact-image-address-container{
  width: 50%;
  height: 900px;
  /* background-color: khaki; */
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
}
.contact-image-container{
 height: 650px;
 width: 80%;
 /* background-color: lightpink; */
 margin-left: 55px;
 background-image: url('../images/contactImage.jpeg');
 background-position:center;
 background-size: cover;
 position: relative;
 animation-name: contact-Img;
 animation-duration: 2s;
 animation-iteration-count: 1;
}
@keyframes contact-Img {
        0%{top: -200px;}
        100%{top: 0px;}
    }
.contact-address-container{
    height: 120px;
    width: 80%;
    background-color: rgb(54 54 54 / 65%);
    margin-left: 55px;
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    color: white;
    position: relative;
 animation-name: contact-address;
 animation-duration: 2s;
 animation-iteration-count: 1;
}
@keyframes contact-address{
    0%{bottom: -400px;}
    100%{bottom: 5px;}
}
#email-address a{
    color:rgb(68, 99, 68);
    text-decoration: none;
}
#email-address a:hover{
    color:white;

}
.contact-form-container{
    width: 50%;
    /* background-color:rgb(68, 99, 68); */
    display: flex;
    position: relative;
    animation-name: form-container;
    animation-duration: 2s;
    animation-iteration-count: 1;
   }
   @keyframes form-container{
    0%{right: -900px;}
    100%{right: 10px;}
}
.contact-form{
    width:570px;
    height: 845px;
    background-color: rgb(54 54 54 / 65%);
    position: absolute;
    top: 6%;
    left: 2%;
}
/* @media (max-width: 1400px) {
    .contact-form{
    width: 100%;
    }
} */
.contact-form h3{
    color:white;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
}

.formContactUs{ 
    /* background-color: thistle; */
     height: 700px;
    width: 380px;
    /* position: relative;
    top: 7%;
    left:9%; */
}
input{
    height: 35px;
    width: 370px;
    margin: 23px 19px 16px 70px;
    font-size: 20px;
    padding: 5px;
}
textarea{
    resize: vertical;
    margin: 23px 19px 16px 70px;
    font-size: 20px;
    color:black;
    width: 384px; 
    height: 199px;
    padding: 5px;
} 
/* .contactForm-btn {
    height: 40px; */
    /* background-color: black; */
    /* position: relative;
    left: 0%;
    top: -1%; */
.contact-form button{
    height: 40px;
    width: 220px;
    color:white;
    background-color:transparent;
    border: 2px solid rgb(173, 216, 173);
    font-size: 20px;
    /* padding-bottom: 4px; */
    text-transform: uppercase;
    margin: 16px 32px 19px 149px;
}
.footer{
    height: 30px;
    width: 70%;
    margin: 0px auto;
    /* background-color: turquoise; */
    position: relative;
    animation-name: footer-animation;
    animation-duration: 3.5s;
    animation-iteration-count: 1;
}
    @keyframes footer-animation {
        0%{bottom: -400px;}
        100%{bottom: 0px;}
    }
.footer-copyright{
    text-align: center;
}
#footer-icon a{
    text-decoration: none;
    color: black;
}
@media (max-width: 950px) {
    .contact-nav-list{
        height: 126px;
        width: 100%;
        background-color: white;
        display: block;
        text-align: center;
        opacity: 0; 
    transition: 100ms;
    transform: translateX(600px);
    pointer-events: none;
    }
    .contact-nav-list li a{
        font-size: 13px;
        padding: 4px;
        color: black;
    }
    .contactMenu .contact-nav-list{
        opacity: 1;
        transition: 580ms;
        /* background-color: lightgray; */
        transform: translateX(0px);
        pointer-events: all;
      
      }
    .contact-burger-icon{
        height: 41px;
        width: 68px;
        /* border: 2px solid black; */
        position: absolute;
        top:2%;
        left: 82%;
          border-radius: 5px;
        cursor: pointer;
        transition: 10ms ease-in-out;
      }
      .line{
        width: 45px;
        height: 4px;
        background-color: rgb(2, 2, 2);
        /* margin:5px 2px; */
        transition: 50ms ease-in-out;
      }
      .cLine1{
        transform: translate(12px,10px);
      }
      .cLine2{
        transform: translate(12px,15px)
      }
      .cLine3{
        transform: translate(12px,21px)
          /* transform:translateY(4px) */
      }
      .btnClassContact .cLine2{
        background-color:transparent
        
      }
      .btnClassContact .cLine1{
        transform: rotate(-45deg) translate(-1px,22px);
      }
      .btnClassContact .cLine3{
        transform: rotate(45deg) translate(19px,-3px);
      }
      .contact-container{
          margin: 0px;
      }
    .contact-image-container{
        display: none;
    }
    .contact-address-container{
        display: none;
    }
    .contact-form-container{
        width: 100%;
        margin-right: 90%;
        /* display: block; */
    }
    }


