.footer {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-family: Poppins;
}
.footer-copyright {
  text-align: center;
  padding-left: 30px;
}
#footer-icon a {
  text-decoration: none;
  color: black;
}
