* {
  margin: 0px;
  padding: 0px;
}
.wrapper {
  height: auto;
  width: 100%;
}
.main-image {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.home-main-image {
  height: 100vh;
  width: 100vw;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.home-nav-button-container {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: transparent;
}
.main-nav-container {
  height: 82px;
  width: 100%;
}
.home-nav-list {
  width: 100%;
 
}
.nav-list {
  height: 80px;
  background-color:transparent;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0; 
  transition: 150ms;
  transform: translateX(1450px);
  pointer-events: none;
}
.nav-list li {
  list-style: none;
  font-size: 20px;
}
.nav-list a {
  text-decoration: none;
  color: rgb(101, 158, 101);
  text-transform: uppercase;
  padding: 25px;
}
.nav-list li a:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.menu .nav-list{
  opacity: 1;
  transition: 580ms;
  /* background-color: lightgray; */
  transform: translateX(0px);
  pointer-events: all;

}
.burger-icon{
  height: 41px;
  width: 68px;
  /* border: 2px solid black; */
  position: absolute;
  top:3%;
  left: 95%;
  background-color: lightgrey;
    border-radius: 5px;
  cursor: pointer;
  transition: 10ms ease-in-out;
}
.line{
  width: 45px;
  height: 4px;
  background-color: rgb(8, 8, 8);
  /* margin:5px 2px; */
  transition: 50ms ease-in-out;
}
.line1{
  transform: translate(12px,10px);
}
.line2{
  transform: translate(12px,15px)
}
.line3{
  transform: translate(12px,21px)
    /* transform:translateY(4px) */
}
.open .line2{
  background-color:transparent
  
}
.open .line1{
  transform: rotate(-45deg) translate(-1px,22px);
}
.open .line3{
  transform: rotate(45deg) translate(19px,-3px);
}
.current{
    color: black;
  }
.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(255, 255, 255);
}
.homepage {
  /* position: relative  */
  color: black;
  margin-bottom: 135px;
  position: absolute;
  left: 8%;
  bottom: 0%;
}

.contact-us-btn-background {
  position: absolute;
  width: 531px;
  height: 135px;
  background-color:  rgb(234 232 233);
  border-radius: 8px;
  top: -24px;
  left: -41px;
  z-index: -1;
}

.home-buttons {
  height: 30px;
  width: 423px;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.about-us-btn,
.contact-us-btn {
  border: 3px solid rgb(101, 158, 101);
  height: 35px;
  width: 170px;
  background-color: transparent;
  font-size: 18px;
}
.about-us-btn a,
.contact-us-btn a {
  text-decoration: none;
  color: rgb(71, 151, 71);
}
@media (max-width:620px){
.burger-icon {
    position: absolute;
    top: 2%;
    left: 90%;
  }
  .contact-us-btn-background{
    width: 430px;
    height: 170px;
  }

.contact-us-btn-background,h2{
  font-size: 19px;
  padding-bottom: 18px;
}
  
.home-buttons{
  display:flex;
  flex-direction: column;
  margin: 20px;
}
.home-buttons button{
  width: 220px;
  margin: 10px;
}
}

.photographer-intro-container {
  height: 850px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: chocolate; */
  margin: auto;
}
.introduction-text {
  height: 80px;
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  /* margin: auto; */
  /* background-color: cornflowerblue; */
}
.photographerImg {
  height: 600px;
  /* background-color:rgb(155, 6, 6); */
}
.photographerImg img {
  height: 600px;
  width: 100%;
  border-right: 10px solid rgb(101, 158, 101);
  border-top: 10px solid rgb(101, 158, 101);
}
@media (max-width:620px){
  .photographerImg{
    display: none;
  }
}
.achievements-slider-container {
  height: 580px;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}
.achievement-slider-heading {
  height: 50px;
  width: 65%;
  margin: auto;
  /* background-color: burlywood; */
  font-size: 25px;
  color: rgb(2, 2, 2);
}
.achievement-slider {
  background-color: rgb(255, 255, 255);
  width: 70%;
  margin: auto;
}
.awardImg {
  width: 100%;
  height: 490px;
}
.award-expertise-projects-text-container {
  height: 550px;
  width: 70%;
  /* background-color: chartreuse; */
  display: flex;
  flex-direction: column;
  margin: auto;
}
.awards,
.expertise,
.our-projects {
  height: 183px;
  /* border: 2px solid rgb(0, 0, 0); */
}
.award-heading,
.expertise-heading,
.project-heading {
  height: 63px;
  /* background-color: burlywood; */
  font-size: 25px;
}
.award-name-description,
.expertise-description,
.project-description {
  height: 120px;
  /* background-color: pink; */
}
.locate-us {
  height: 350px;
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}
.locate-us-heading {
  height: 50px;
  font-size: 25px;
  text-align: center;
}
 /* .locate-us-image {
  height: 300px;
  width: 100%; */
  /* background-image: url('../images/map.jpeg'); */
/* } */
.footer {
  height: 50px;
  width: 70%;
  margin: 20px auto;
  /* background-color: turquoise; */
}
.footer-copyright {
  text-align: center;
}
#footer-icon a{
  text-decoration: none;
  color: black;
}
@media(max-width:500px){
  .award-expertise-projects-text-container {
    height: 595px;
    width: 100%;
  }
}
