* {
  margin: 0px;
  padding: 0px;
}
p,
h1,
h2 {
  font-family: Poppins !important;
}

body {
  overflow-x: hidden;
}

.wrapper {
  height: auto;
  width: 100%;
}
.home-inner-slider {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: translate3d(0, 0, 0);
  transition: 1000ms;
}
.main-image-slide {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: initial;
}
.home-slides {
  height: 100vh;
  width: 100vw;
  object-fit: fill;
  /* position: absolute;
  top: 0;
  left: 0; */
  z-index: -1;
}

.home-nav-button-container {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: transparent;
}
.main-nav-container {
  height: 82px;
  width: 100%;
}
.home-nav-list {
  width: 100%;
}
.nav-list {
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  transition: 150ms;
  transform: translateX(1450px);
  pointer-events: none;
}
.nav-list li {
  list-style: none;
  font-size: 20px;
}
.nav-list a {
  text-decoration: none;
  color: rgb(101, 158, 101);
  text-transform: uppercase;
  font-family: Poppins !important;
  padding: 25px;
}
.nav-list li a:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.menu .nav-list {
  opacity: 1;
  transition: 580ms;
  /* background-color: lightgray; */
  transform: translateX(0px);
  pointer-events: all;
}
.burger-icon {
  height: 41px;
  width: 58px;
  /* border: 2px solid black; */
  position: absolute;
  top: 16px;
  right: 19px;
  background-color: lightgrey;
  border-radius: 5px;
  cursor: pointer;
  transition: 10ms ease-in-out;
}
.line {
  width: 35px;
  height: 4px;
  background-color: rgb(8, 8, 8);
  /* margin:5px 2px; */
  transition: 50ms ease-in-out;
}
.line1 {
  transform: translate(12px, 10px);
}
.line2 {
  transform: translate(12px, 15px);
}
.line3 {
  transform: translate(12px, 21px);
  /* transform:translateY(4px) */
}
.open .line2 {
  background-color: transparent;
}
.open .line1 {
  transform: rotate(-45deg) translate(-2px, 23px);
}
.open .line3 {
  transform: rotate(45deg) translate(18px, -4px);
}

.current {
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(178, 216, 185); */
  border-radius: 14px;
  padding: 4px 15px !important;
}
.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(255, 255, 255);
}
.homepage {
  /* position: relative  */
  color: black;
  margin-bottom: 135px;
  position: absolute;
  left: 8%;
  bottom: 0%;
}

.contact-us-btn-background {
  /* position: absolute; */
  width: 531px;
  height: 135px;
  background-color: rgb(8 8 8 / 64%);
  color: beige;
  border-radius: 8px;
  /* top: -24px;
  left: -41px; */
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-buttons {
  height: 50px;
  width: 423px;
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
}
.about-us-btn,
.contact-us-btn {
  border: 3px solid rgb(101, 158, 101);
  height: 35px;
  width: 170px;
  background-color: transparent;
  font-size: 18px;
}
.about-us-btn a,
.contact-us-btn a {
  text-decoration: none;
  font-family: Poppins !important;
  color: rgb(71, 151, 71);
}
/* @media (max-width: 620px) {
  .burger-icon {
    position: absolute;
    top: 2%;
    left: 90%;
  }
  .contact-us-btn-background {
    width: 430px;
    height: 170px;
  }

  .contact-us-btn-background,
  h2 {
    font-size: 19px;
    padding-bottom: 18px;
  }

  .home-buttons {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .home-buttons button {
    width: 220px;
    margin: 10px;
  }
} */

.photographer-intro-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: chocolate; */
  margin: 1rem auto;
}
.info-heading {
  color: rgb(101 158 101);
  font-size: 25px;
  font-style: italic;
  font-weight: 700;
  margin-top: 10px;
}
.introduction-text {
  /* height: 80px; */
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: justify;
  font-family: Poppins !important;
  font-size: 17px;
  margin: 1rem 0px;
}
/* .photographerImg {
  height: 700px;
   background-color:rgb(155, 6, 6);  
} */
.photographerImg img {
  width: 100%;
  box-shadow: 2px 3px 4px 2px;
  object-fit: fill;
}
.achievements-slider-container {
  height: 650px;
  display: flex;
  flex-direction: column;
}
.achievement-slider-heading {
  height: 30px;
  width: 75%;
  margin: auto;
  font-size: 26px;
  font-family: Poppins !important;
}
.achievement-slider {
  background-color: rgb(255, 255, 255);
  width: 75%;
  margin: auto;
}
.awardImg {
  width: 100%;
  height: 490px;
  object-fit: contain;
}
.award-expertise-projects-text-container {
  height: 550px;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.awards,
.expertise,
.our-projects {
  height: 183px;
}
.award-heading,
.expertise-heading,
.project-heading {
  height: 30px;
  font-size: 26px;
  margin: 23px 0px;
  text-transform: uppercase;
  font-family: Poppins !important;
}
.award-name-description,
.expertise-description,
.project-description {
  height: 120px;
  font-size: 16px;
  font-family: Poppins !important;
}
.locate-us {
  height: 350px;
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}
.locate-us-heading {
  height: 50px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-family: Poppins !important;
}
/* .locate-us-image {
  height: 300px;
  width: 100%; */
/* background-image: url('../images/map.jpeg'); */
/* } */
.footer {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 4rem !important;
}

.footer-copyright {
  text-align: center;
  font-family: Poppins !important;
}
#footer-icon a {
  text-decoration: none;
  color: black;
}

.goOut {
  animation: hide 1s ease-in-out;
  animation-fill-mode: forwards;
}

.comeIn {
  animation: show 1s ease-in-out;
  animation-fill-mode: forwards;
}

#homeImage {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#homeImage2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

@keyframes show {
  0% {
    left: 100vw;
  }

  100% {
    left: 0vw;
  }
}
@keyframes hide {
  0% {
    left: 0vw;
  }

  100% {
    left: -100vw;
  }
}
@media (max-width: 1024px) {
  .introduction-text {
    font-size: 14px;
    margin: 1rem auto;
  }
  .photographer-intro-container {
    width: 100%;
  }
  .achievement-slider-heading {
    width: 100%;
    margin: auto;
    font-size: 14px;
  }
  .achievement-slider {
    width: 95%;
  }
  .award-expertise-projects-text-container {
    height: 420px;
    width: 100%;
  }
  .awards,
  .expertise,
  .our-projects {
    height: 150px;
  }
  .award-heading,
  .expertise-heading,
  .project-heading {
    font-size: 14px;
    margin: 3px 0px;
    text-transform: uppercase;
  }
  .award-name-description,
  .expertise-description,
  .project-description {
    font-size: 10px;
  }
  .locate-us {
    height: 400px;
    width: 100%;
  }
  .locate-us-heading {
    height: 20px;
    font-size: 20px;
    text-align: center;
  }
}
@media (max-width: 650px) {
  .burger-icon {
    height: 40px;
    width: 60px;
    position: absolute;
    top: 1%;
    right: 10px;
  }
  .home-nav-list {
    width: 70%;
  }
  .nav-list {
    height: 100px;
    width: 50%;
    position: absolute;
    top: 60px;
    right: 1px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 5px 5px 8px 0px grey;
  }
  .nav-list li {
    list-style: none;
    font-size: 28px;
    height: 30px;
  }
  .nav-list a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 25px;
    font-size: 12px;
  }
  .nav-list li a:hover {
    color: rgb(173, 99, 70);
    cursor: pointer;
  }
  .current {
    background-color: rgb(178, 216, 185);
  }
  .contact-us-btn-background {
    width: 310px;
    height: 90px;
  }
  .contact-us-btn-background,
  h2 {
    font-size: 13px;
    padding: 0px;
    margin-top: 20px;
  }
  .about-us-btn,
  .contact-us-btn {
    border: 3px solid rgb(101, 158, 101);
    height: 47px;
    width: 131px;
    background-color: transparent;
    font-size: 16px;
  }
  .home-buttons {
    height: 50px;
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .home-buttons button {
    width: 107px;
    height: 30px;
    margin: -9px 20px;
    font-size: 14px;
    border-radius: 8px;
  }
  .photographer-intro-container {
    height: 150px;
  }
  .info-heading {
    font-size: 20px;
    margin-top: 10px;
    color: black;
  }
  .introduction-text {
    color: rgb(142 73 73);
    text-align: center;
    font-size: 11px;
    margin: 0px;
  }
  .photographerImg {
    display: none;
  }
  .awardImg {
    width: 100%;
    height: 275px;
  }
  .achievements-slider-container {
    height: 350px;
  }
  .award-heading,
  .expertise-heading,
  .project-heading {
    font-size: 13px;
  }
  .award-name-description,
  .expertise-description,
  .project-description {
    font-size: 9px;
  }
  .footer-copyright {
    text-align: center;
    font-size: 9px;
  }
}

@media(max-width: 370px) {
  .homepage {
    left: 2vw;
  }

  .contact-us-btn-background {
    width: 96vw;
  }
  .contact-us-btn-background h2 {
    font-size: 12px;
  }
}
