.gallery-images2 {
  /* background: beige; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  grid-gap: 6%;
  grid-row-gap: 20px;
}
.event-image {
  /* height: 300px; */
  width: 350px;
  border: 2px solid black;
}
#event-images9,
#event-images10,
#event-image11,
#event-images12,
#event-images13,
#event-images14,
#event-images15,
#event-images16,
#event-images17,
#event-images18,
#event-images19,
#event-images20,
#event-images21,
#event-images22,
#event-images23,
#event-images24 {
  /* height: 380px; */
  background-size: cover;
  background-position: center;
}
