* {
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
}
.pricing-wrapper {
  height: 100%;
  width: 100%;
}
.pricing-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
}
.pricing-nav {
  width: 100%;
}
.pricing-nav-list {
  height: 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pricing-nav-list li {
  list-style: none;
  font-size: 20px;
}
.pricing-nav-list a {
  text-decoration: none;
  color: rgb(101, 158, 101);
  text-transform: uppercase;
  font-family: Poppins;
}
.pricing-nav-list li a:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.current {
  background-color: rgb(178, 216, 185);
  border-radius: 5px;
  padding: 4px 14px;
}

.pricing-information-container {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  grid-template-rows: repeat(2, 300px);
  justify-content: center;
  align-items: center;
  grid-gap: 25px;
  margin-top: 40px;
  /* position: relative;
   top: 22%; */
  transition: all 1s ease-in-out;
}
div [type="box"]:hover {
  opacity: 0.7;
  transform: scale(1.1);
}
.bronze-package-text,
.silver-package-text,
.platinum-package-text,
.basicHourly-package-text {
  /* height: 300px;
  width: 500px; */
  background-color: #e6e1c1;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #e6e1c1;
}
.silver-package-text {
  background-color: rgb(227 246 249);
}
.platinum-package-text {
  background-color: rgb(202, 205, 216);
}
.basicHourly-package-text {
  background-color: rgb(255 241 229);
  /* align-self: flex-end; */
}
.price-heading {
  height: 50px;
  font-size: 2.1vw;
}
.package-information {
  font-size: 1vw;
}
.booking-button {
  margin: auto;
}
.booking-button a {
  text-decoration: none;
  color: white;
}
.pricing-btn {
  height: 35px;
  width: 205px;
  text-transform: uppercase;
  color: #000 !IMPORTANT;
  background-color: rgb(100 184 197);
  border: none;
  /* position: relative; */
  font-size: 14px;
  margin-top: 30px;
  border-radius: 24px;
  animation-name: price-btn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  box-shadow: 2px 2px 5px 0px rgb(152 163 165);
}
/* div [type="box"]{
    filter: grayscale(0%);
    transition: 1s;
}
div [type="box"]:hover{
    filter: grayscale(100%);
    transform: scale(1.3);
} */

@keyframes price-btn {
  0% {
    right: -500px;
  }
  100% {
    right: 0px;
  }
}
.pricing-btn:hover {
  background-color: rgb(137, 190, 137);
}
.pricing-footer {
  width: 100%;
  text-align: center;
  margin-top: 15px;
  /* height: 60px;
  width: 63%;
  margin: 40px 0px 10px auto; */
  /* background-color: turquoise; */
}
.pricing-footer-copyright {
  text-align: center;
  padding-left: 30px;
}
#footer-icon a {
  text-decoration: none;
  color: black;
}

@media (max-width: 947px) {
  .pricing-wrapper {
    overflow: hidden;
  }

  .pricing-nav {
    margin-bottom: 33px;
    position: relative;
    z-index: 1;
  }
  .pricing-nav-list {
    height: 160px;
    width: 30%;
    position: absolute;
    top: 46px;
    right: -46px;
    border-radius: 6px;
    background-color: #eee;
    display: block;
    text-align: center;
    opacity: 0;
    transition: 100ms;
    transform: translateX(600px);
    pointer-events: none;
  }
  .pricing-nav-list li {
    list-style: none;
    /* font-size: 34px; */
    height: 33px;
    width: 100%;
  }
  .pricing-nav-list li a {
    font-size: 15px;
    padding: 4px;
    color: black;
  }
  .pricing-nav-list li a:hover {
    color: rgb(173, 99, 70);
    cursor: pointer;
  }
  .pricingMenu .pricing-nav-list {
    opacity: 1;
    transition: 580ms;
    /* background-color: lightgray; */
    transform: translateX(0px);
    pointer-events: all;
  }
  .current {
    background-color: rgb(178, 216, 185);
  }
  .pricing-burger-icon {
    height: 41px;
    width: 63px;
    /* border: 2px solid black; */
    position: absolute;
    top: 0px;
    right: -60px;
    border-radius: 5px;
    cursor: pointer;
    transition: 10ms ease-in-out;
  }
  .line {
    width: 35px;
    height: 4px;
    background-color: rgb(2, 2, 2);
    /* margin:5px 2px; */
    transition: 50ms ease-in-out;
  }
  .pLine1 {
    transform: translate(12px, 10px);
  }
  .pLine2 {
    transform: translate(12px, 15px);
  }
  .pLine3 {
    transform: translate(12px, 21px);
    /* transform:translateY(4px) */
  }
  .btnClass .pLine2 {
    background-color: transparent;
  }
  .btnClass .pLine1 {
    transform: rotate(-45deg) translate(-2px, 23px);
  }
  .btnClass .pLine3 {
    transform: rotate(45deg) translate(18px, -4px);
  }
  .pricing-information-container {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    margin-top: 24px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 300px);
    justify-content: center;
    align-items: center;
  }
  .price-heading {
    height: 50px;
    font-size: 2.4vw;
  }
  .package-information {
    font-size: 1.2vw;
  }
  .pricing-btn {
    width: 220px;
    border-radius: 10px;
    font-size: 17px;
    background-color: rgb(90 76 76);
    height: 40px;
    text-align: center;
  }
  .pricing-footer {
    width: 100%;
  }
}

@media (max-width: 530px) {
  .pricing-wrapper {
    overflow: hidden;
  }
  .pricing-nav-list {
    height: 160px;
    width: 100%;
    position: absolute;
    border-radius: 6px;
    top: 23px;
    right: 2px;
    z-index: 1;
    display: block;
    /* background-color: rgb(8, 8, 8); */
    transition: 1000ms;
    transform: translateY(-260px);
    pointer-events: none;
  }
  .pricing-nav-list li {
    list-style: none;
    height: 33px;
    width: 100%;
  }
  .pricing-nav-list li a {
    font-size: 13px;
  }
  .pricingMenu .pricing-nav-list {
    transition: 1000ms;
    transform: translateY(10px);
    pointer-events: all;
  }
  .pricing-burger-icon {
    position: absolute;
    top: 0px;
    right: -45px;
  }
  .pricing-information-container {
    width: 100%;
    display: inline;
    margin-top: 22px;
  }
  .bronze-package-text,
  .silver-package-text,
  .platinum-package-text,
  .basicHourly-package-text {
    margin-bottom: 22px;
    height: 180px;
    width: 100%;
    opacity: 0.9;
    border-radius: 7px;
  }
  .price-heading {
    height: 50px;
    font-size: 2.8vw;
    margin: -10px;
  }
  .package-information {
    font-size: 2.2vw;
  }
  .pricing-btn {
    margin: 0px;
    width: 125px;
    height: 30px;
    font-size: 10px;
    background-color: rgb(49, 49, 49);
  }
  .pricing-footer {
    margin-top: 12px;
    font-size: 9px;
  }
}
