* {
    margin: 0px;
    padding: 0px;
  }
.pricing-wrapper{ 
    height:100%;
    width: 100%;
    /* background-color: rgb(119, 18, 18); */
}
.pricing-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: rgb(255, 255, 255);
    margin:auto;
}
.pricing-nav{
    width: 100%;
    /* background-color: rgb(202, 202, 9); */
    margin-top: 20px;
}
.pricing-nav-list{
    height: 50px;
    /* width: 100%; */
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pricing-nav-list li{
    list-style: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* padding: 10px 95px; */
 }
.pricing-nav-list a{
    text-decoration: none;
    color: rgb(101, 158, 101);
    text-transform: uppercase;
}
.pricing-nav-list li a:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.pricing-information-container{
    /* width: 900px; */
    /* border: 2px solid black; */
    /* background-color: cornflowerblue; */
    display: grid;
    /* grid-template-rows: repeat(2,1fr); */
    grid-template-columns: repeat(2,500px);
    grid-auto-rows: 300px;
    justify-content: center;    
    align-items: center;
   grid-gap: 20px;
   margin-top: 40px;
   /* position: relative;
   top: 22%; */
}
@media (max-width: 850px) {
    .pricing-information-container{
    width: 100%;
    display:flex;
   flex-direction:row;
}
    /* .package-information{
        background-color: black;
        color:white;
        font-size: 5vw;
    } */
    .pricing-footer{
        width: 50%;
    }
    .pricing-btn{
        width: 220px;
        color: tomato;
    }
    }
.bronze-package-text ,.silver-package-text ,.platinum-package-text ,.basicHourly-package-text{
 /* background-color: darkgreen; */
 /* border: 2px solid  rgb(101, 158, 101); */
 height: 300px;
 width: 500px;
 text-align: center;
 color: rgb(10 10 10);
 background-color: burlywood;
 /* position: relative;
 top:20%; */
}
.silver-package-text{
    background-color: rgb(125, 198, 211);
}
.platinum-package-text{
    background-color: rgb(92, 100, 134);
}
.basicHourly-package-text{
    background-color: rgb(253, 226, 201);
    /* align-self: flex-end; */
}
.price-heading{
    height: 50px;
    font-size:1.7vw;
   
}
.package-information{
    font-size: 1.5vw;
    
}
.booking-button{
    height: 60px;
    /* background-color: cadetblue; */
    margin: auto;
}
.booking-button a{
    text-decoration: none;
    color:white;
}
.pricing-btn{
    height: 40px;
    width: 500px;
    text-transform: uppercase;
    color:white;
    background-color: rgb(49, 49, 49);
    border: none;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 2%;
}

.pricing-btn:hover{
    background-color: rgb(137, 190, 137);
}
.pricing-footer{
    height: 60px;
    width: 70%;
    margin: 40px 40px 10px auto;
    /* background-color: turquoise; */
}
.pricing-footer-copyright{
    text-align: center;
    padding-left: 30px;
}
#footer-icon a{
    text-decoration: none;
    color: black;
}
